apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namePrefix: prod-

patches:
  - patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: g2n-serving
      spec:
        replicas: 3
    target:
      kind: Deployment
      name: g2n-serving
